<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiesOnDrive - home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav>
            <ul>
                <li><button onclick="window.location.href='/home'">Home</button></li>
                <li><button onclick="openModal('uploadModal')">Subir</button></li>
                <!--<li><button onclick="openModal('downloadModal')">Descargar</button></li>-->
                <li><button onclick="downloadFiles()">Descargar</button></li>
                <li class="account">
                    <button id="accountButton" onclick="handleAccountAction()"></button>
                    <div id="logoutMessage" class="hidden">Cerrar sesion</div>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Bienvenid@ <span id="userName"></span></h1>
        </section>

        <!-- Files Container -->
        <section class="files-container">
            <div class="file-list-header">
                <span>Seleccionar</span>
                <span>Título del Archivo</span>
                <span>Peso</span>
                <span>Fecha de subida</span>
            </div>

            <!-- Aqui se debera de mostrar el contenid -->
            <div id="fileListContainer">
            </div>
            <!-- <button onclick="downloadFiles()">Descargar</button> -->
        </section>
    </main>

    <!-- Upload Modal -->
    <aside id="uploadModal" class="modal">
        <div class="modal-content">
            <h2>Subir Archivo</h2>
            <label for="fileUpload">Selecciona un archivo:</label>
            <input type="file" id="fileUpload">
            <div class="modal-actions">
                <button onclick="uploadFile()">Subir</button>
                <button onclick="closeModal('uploadModal')">Cancelar</button>
            </div>
        </div>
    </aside>

    <!-- Download Modal -->
    <aside id="downloadModal" class="modal">
        <div class="modal-content">
            <h2>Descargar Archivos</h2>
            <p>Tus archivos han sido descargados</p>
            <div class="download-list" id="download-list">
            </div>
            <div class="modal-actions">
                <button onclick="closeModal('downloadModal')">Cerrar</button>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <p>Copyright by &#169 TiesOnDrive</p>
    </footer>
    <script src="/scripts/home.modal.js"></script>
    <script src="https://kit.fontawesome.com/79b3d7b09d.js" crossorigin="anonymous"></script>
</body>

</html>