/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M273.02475821394313 193.68867437681962L113.53684407800375 168.42827035787113 88.27644005905526 327.91618449381053 247.76435419499464 353.176588512759z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M385.1648491019273 219.49864631896017L429.74740294169084 265.66523228623544 476.706004972722 175.70810854295252z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M185.17241736288534 491.04344100944354L93.4188115297728 364.755436802709-32.86919267696169 456.50904263582163 58.884413156150856 582.797046842556z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M87.29446375435668 14.363741001036487L136.86878605017387 107.59948094438857 251.9352348172934-13.37987247101325z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M642.1892472917627 432.1889469390904L631.7353008312144 551.6781017534245 751.2244556455486 562.1320482139729 761.6784021060969 442.6428933996387z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M558.552%2c303.107C579.382%2c302.138%2c598.225%2c292.465%2c609.758%2c275.091C622.842%2c255.379%2c632.011%2c230.43%2c620.522%2c209.748C608.806%2c188.658%2c582.674%2c182.457%2c558.552%2c182.915C535.364%2c183.356%2c512.724%2c192.301%2c500.53%2c212.028C487.704%2c232.777%2c485.265%2c259.699%2c498.371%2c280.272C510.726%2c299.667%2c535.581%2c304.176%2c558.552%2c303.107' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M568.0736250894687 243.76036928211641L452.3018254962641 239.71752895487734 564.0307847622296 359.532168875321z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M562.2713876433497 615.3957948725546L654.9622831050659 590.5593442878701 630.1258325203814 497.868448826154 537.4349370586652 522.7048994108384z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M541.5734157614487 28.84429998034561L412.1080974094564 89.21496939335451 601.9440851744575 158.3096183323379z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M871.527294387714 273.8237653014767L769.2722068966114 286.37911131915985 781.8275529142945 388.63419881026255 884.0826404053972 376.0788527925794z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1016.8802049485407 266.7490064211817L913.5296357434144 250.3798843604055 897.1605136826381 353.7304535655319 1000.5110828877645 370.0995756263081z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M416.0167403720664 275.7567295051057L309.8207712359372 264.59508338075545 346.1762866174764 429.4698601471244z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1209.129%2c319.806C1259.785%2c318.758%2c1309.195%2c299.331%2c1335.932%2c256.293C1364.171%2c210.839%2c1369.648%2c152.174%2c1341.574%2c106.617C1314.615%2c62.869%2c1260.498%2c51.895%2c1209.129%2c50.524C1154.406%2c49.063%2c1093.515%2c53.2%2c1063.844%2c99.203C1032.322%2c148.076%2c1040.916%2c213.164%2c1072.903%2c261.734C1102.003%2c305.919%2c1156.233%2c320.9%2c1209.129%2c319.806' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f9;
    color: #2c3e50;
}

/* Navbar */
header {
    background-color: #0078d4;
    color: #fff;
    padding: 1rem;
}

.account {
    margin-left: auto;
}

/* Account */
.hidden {
    display: none;
}

#logoutMessage {
    position: absolute;
    background-color: #fff;
    color: red;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    font-size: 0.875rem;
    white-space: nowrap;
    cursor: pointer;
    z-index: 10;
    top: 100%;
    right: 0;
}

#logoutMessage:hover {
    border: 1px solid red;
}

.account {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

nav ul li button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li button:hover {
    background-color: #005a9e;
    border-radius: 5px;
}

/* Main */
main {
    flex: 1;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    /* Azul oscuro */
}

/* Files Container Styles */
.files-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-list-header,
.file-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.file-list-header {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
}

.file-list-header .titulo-container{
    cursor: pointer;
}

.file-list-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.file-list-item .trash{
    color: red;
    cursor: pointer;
}

.file-list-item:last-child {
    border-bottom: none;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    font-size: 1.5rem;
    color: #0078d4;
    margin-bottom: 1rem;
}

.modal-content label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal-content input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.download-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-actions button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.modal-actions button:first-child {
    background-color: #0078d4;
    color: #fff;
}

.modal-actions button:first-child:hover {
    background-color: #005a9e;
}

.modal-actions button:last-child {
    background-color: #005a9e;
    color: #fff;
}

.modal-actions button:last-child:hover {
    background-color: #004080;
}

/* Footer Styles */
footer {
    background: linear-gradient(to right, #0078d4, #004080);
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
}

